.dresscode {
	padding-top: 118px;
	padding-bottom: 106px;

	@media (max-width: 767px) {
		padding-top: 40px;
		padding-bottom: 0;
	}

	.section__title {
		font-weight: 300;
	}

	.section__subtitle {
		font-weight: 400;
		margin-top: 30px;
		@media (max-width: 767px) {
			text-align: left;
		}
	}

	// .dresscode__desc
	&__desc {
		margin-top: 26px;
		margin-bottom: 40px;
	}

	// .dresscode__inner
	&__inner {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 55px;

		@media (max-width: 999px) {
			column-gap: 30px;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 20px;
		}

		@media (max-width: 767px) {
			display: block;
		}
	}

	// .dresscode__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}

		&:last-of-type {
			flex-direction: column;
			justify-content: flex-end;

			img {
				width: 90%;
				max-width: 332px;
				max-height: 250px;
				display: block;
				margin: 0 auto;
			}

			.button {
				width: 100%;
				margin-top: 29px;
				@media (max-width: 999px) {
					max-width: 240px;
				}
			}
		}
	}
}
