.master-class {
	padding-top: 116px;
	padding-bottom: 112px;

	@media (max-width: 999px) {
		padding-top: 79px;
	}

	// .master-class__inner
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 51px;
		margin-top: 36px;

		@media (max-width: 767px) {
			display: block;
		}
	}

	// .master-class__item
	&__item {
		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	// .master-class__image
	&__image {
		margin-bottom: 42px;

		img {
			@media (max-width: 767px) {
				display: block;
				margin: 0 auto 42px;
			}
		}
	}

	// .master-class__title
	&__title {
		margin-bottom: 20px;
		@media (max-width: 767px) {
			text-align: center;
		}
	}

	// .master-class__desc
	&__desc {
		margin-bottom: 20px;
		@media (max-width: 767px) {
			text-align: center;
		}
	}

	// .master-class__author
	&__author {
		a {
			color: $gold;

			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 767px) {
			text-align: center;
		}
	}
}
