.promo {
	padding-top: 44px;
	padding-bottom: 55px;
	background-image: url('images/icons/mountain.svg');
	background-repeat: no-repeat;
	background-position: -200px 100%;

	@media (max-width: 767px) {
		padding-top: 50px;
		padding-bottom: 50px;
		background-image: none;
	}
	@media (max-width: 565px) {
		.section__title {
			margin-bottom: 25px;
			text-align: left;
		}
	}

	p {
		text-align: center;

		@media (max-width: 767px) {
			text-align: unset;
		}

		&:last-of-type {
			margin-bottom: 20px;
		}
	}

	p + p {
		margin-top: 20px;
	}

	.button {
		margin-top: 30px;
	}
}
