@font-face {
  font-family: Frutiger Neue LT W1G Bold;
  font-display: swap;
  src: url("../fonts/Frutiger Neue LT W1G Bold.woff2") format("woff2"), url("../fonts/Frutiger Neue LT W1G Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FrutigerLTStd;
  font-display: swap;
  src: url("../fonts/FrutigerLTStd-Italic.woff2") format("woff2"), url("../fonts/FrutigerLTStd-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: FrutigerLTStd;
  font-display: swap;
  src: url("../fonts/FrutigerLTStd-Bold.woff2") format("woff2"), url("../fonts/FrutigerLTStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: FrutigerLTStd;
  font-display: swap;
  src: url("../fonts/FrutigerLTStd-Roman.woff2") format("woff2"), url("../fonts/FrutigerLTStd-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
