@import 'scss/reset';
@import 'scss/variables';
@import 'scss/blocks/global';
@import 'scss/blocks/nav';
@import 'scss/blocks/hero';
@import 'scss/blocks/ambassadors';
@import 'scss/blocks/dresscode';
@import 'scss/blocks/features';
@import 'scss/blocks/footer';
@import 'scss/blocks/location';
@import 'scss/blocks/marquee';
@import 'scss/blocks/decoration';
@import 'scss/blocks/master-class';
@import 'scss/blocks/partners';
@import 'scss/blocks/presents';
@import 'scss/blocks/price';
@import 'scss/blocks/promo';
@import 'scss/blocks/timetable';
@import 'scss/blocks/modal';
@import 'scss/blocks/form';
